:root{
    --cor-principal: #23BEE1;
    --cor-secundaria: #D76978;
}

*{
    /* border: #a31b1b solid 1px; */
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Header */

header{
    display: flex;
    background-color: var(--cor-principal);
    flex-direction: column;
    align-items: center;
}

header img{
    margin: 25px 0;
    max-height: 150px;
    max-width: 150px;
}

nav{
    width: 100%;
    border-top: solid 2px white;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 5px 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
    transform: scaleX(1);
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-principal);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fixed-nav ul{
    padding-left: 15px;
}

/*  */

/* Carrossel */

.carrossel{
    padding-top: 35px;
}

.slider{
    margin: 0 auto;
    width: 700px;
    height: 400px;
    overflow: hidden;
    border-radius: 25px;
}

.slides{
    width: 400%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 700px;
}

.labels{
    position: absolute;
    width: 700px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 20px;
    transition: 1s;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~.first{
    margin-left: -75%;
}

.navegacao div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegacao{
    position: absolute;
    width: 700px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#radio1:checked ~ .navegacao .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navegacao .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navegacao .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navegacao .auto-btn4{
    background-color: white;
}

/*  */

/* Divisórias */

.maxima{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.maxima h2{
    color: var(--cor-principal);
    font-size: 28px;
    text-align: center;
}
.maxima h2:nth-child(2){
    font-size: 32px;
    text-decoration: underline;
    font-weight: bold;
}

.maxima2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.maxima2 h2{
    color: var(--cor-secundaria);
    font-size: 28px;
    text-align: center;
}
.maxima2 h2:nth-child(2){
    font-size: 32px;
    text-decoration: underline;
    font-weight: bold;
}

.faixa{
    background-color: var(--cor-secundaria);
    border-top: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.faixa h2{
    color: white;
    font-size: 28px;
}

/*  */

/* Conteudo */

.quemsomos{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 140px;
    font-size: 18px;
    gap: 25px;
}

.quemsomos h1{
    text-align: center;
}

.quemsomos p{
    text-align: justify;
}

.quem{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    gap: 25px;
}

.somos img{
    height: 180px;
    border: solid black 2px;
}

.somos strong{
    color: var(--cor-secundaria);
}

.diretores{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.diretores div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
}

.diretores div .nome{
    margin: 5px 0;
}

.comoatuamos{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 140px;
    padding-bottom: 25px;
    gap: 15px;
    font-size: 18px;
    background: linear-gradient(0deg, white 0%, white 0%, #D76978 100%);
}

.comoatuamos p{
    text-align: justify;
}

.campanha{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 140px;
    padding-bottom: 15px;
    gap: 15px;
    font-size: 18px;
}

.campanha p{
    text-align: left;
}

.campanha img{
    height: 600px;
    border: solid 2px black;
    border-radius: 15px;
    margin: 25px 0;
}

.campanha .coletas{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.campanha .coletas div{
    width: 180px;
}

.campanha .coletas a{
    text-decoration: none;
    color: var(--cor-secundaria);
}

/*  */

/* Footer */

footer .contato{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid var(--cor-principal) 1px;
    flex-direction: row;
    gap: 25px;
}

footer img{
    height: 24px;
}

footer .contato .telefone{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}

footer .contato .telefone div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

footer .contato .loc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 25px 0px;
    width: 300px;
}

footer .contato .redes{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
}

.redes a {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.redes a img {
    height: 24px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.redes a:hover {
    transform: scale(1.2);
}

footer .dev{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 35px;
}